body {
 background-image: url("tea.jpg");
 background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    /*background-position: center center; */
 background-color: #000000;
}
